RewriteEngine on
# Use PHP71 as default
AddHandler application/x-httpd-php71 .php
# BEGIN custom php.ini PHP71
<IfModule mod_suphp.c>
    suPHP_ConfigPath /home/qualite1/crawler.qualitetecnologia.com.br
</IfModule>
# END custom php.ini

